* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aligning the main content to the center */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #606c88;
  background: -webkit-radial-gradient(circle, #606c88 0%, #3f4c6b 100%);
  background: radial-gradient(circle, #606c88 0%, #3f4c6b 100%);
}

/* Game title positioned relative to move upwards */
h1 {
  position: relative;
  top: -40px;
  font-weight: bold;
  color: antiquewhite;
}

/* Game title paragraph also positioned relative to move upwards */
p {
  position: relative;
  top: -30px;
  color: antiquewhite;
}

/* Game cards container created in a grid pattern */
#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

/* Defining the cards before JavaScript inserts them dynamically */
.card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: lightgray;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 3px #000000;
  -moz-box-shadow: 3px 3px 10px 3px #000000;
  box-shadow: 3px 3px 10px 3px #000000;
}

/* Hover styling for cards */
.card:hover{
  scale: 1.1;
}

/* Styling the cards when they are flipped */
.flipped {
  background-color: white;
}


/* Styling the cards when they are matched */
.matched {
  background-color: lightgreen;
}

/* Styling for the win message */
.message {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 240, 221);
  font-weight: bold;
}

@media (max-width: 600px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    max-width: 400px;
    padding: 10px;
  }

  .card {
    width: 80px;
    height: 80px;
    font-size: 1.75em;
    margin: 3px 10px;
  }
}